
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ÜyeAdminLayout.cshtml";
}

<div class="panel panel-headline">
<div class="panel-heading">
    <h3 class="panel-title">@ViewBag.OkulAd</h3>
    <p class="panel-subtitle">Üyelik Bilgileri</p>
</div>
</div>