@using OkulPano.Models.Sınıflar
@model List<NöbertYer>
@{
    ViewBag.Title = "Nöbet";
    Layout = "~/Views/_ÜyeAdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Nöbetler</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                </tr>
            </thead>
            @foreach (var X in Model)
            {
                <tr>
                    <td>@X.Id</td>
                    <td>@X.Ad</td>
                   
                </tr>

            }
        </table>
        <a class="btn btn-success" href="~/ÜyeAdmin/ÖğretmenEkle">Öğretmen Ekle</a>
    </div>
</div>
