@using OkulPano.Models.Sınıflar
@model IEnumerable<OkulPano.Models.Sınıflar.NöbertYer>
@{
    ViewBag.Title = "Nöbet";
    Layout = "~/Views/_ÜyeAdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Nöbetler</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th>Ad</th>
                    <th>Pazartesi</th>
                    <th>Salı</th>
                    <th>Çarşamba</th>
                    <th>Perşembe</th>
                    <th>Cuma</th>
                </tr>
            </thead>
            @foreach (var X in Model)
            {
                <tr>
                  @Html.Hidden(@X.Id.ToString())
                    <td>@X.Ad</td>
                    <td></td>

                </tr>

            }
        </table>
        <a class="btn btn-success" href="~/ÜyeAdmin/ÖğretmenEkle">Öğretmen Ekle</a>
    </div>
</div>
